* {
  text-align: center;
  margin: 0px;
}
li {
  list-style-type: none;
  margin: 10px;
}
a {
  color: rgb(251,164,20);
}
#logo {
  width: 100px;
  height: 100px;
}
.me p {
  position:fixed;
  bottom: 0px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: gray;
  font-family: monospace;
  width: 1ch;
  overflow: hidden;
  animation: 1s typing steps(10 , jump-none) forwards;
}
